html,body{
    width:100%;
    height: 100%;
    background: #222;
}

.content{
    width:100%;
    height: 100%;
}

.stage{
    position: relative;
    width: 100%;
    height: 680px;
}

/* img-sec start*/
.img-sec{
    position: relative;
    width: 100%;
    height: 100%;
    background: #ddd;
    @at-root{
        .img-figure{
            position: absolute;

            width:320px;
            height: 360px;
            margin:0;
            padding: 40px;
            
            box-sizing: border-box;
            background: #fff;

            box-sizing: border-box;
            cursor: pointer;
            transform-origin: 0 50% 0;
            transform-style: preserve-3d;
            transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;

            &.is-inverse {
                transform: translate(320px) rotateY(180deg);
            }
        }

        figcaption {
            text-align: center;

            .img-title{
               margin: 20px 0 0 0;

               color:#a7a0a2;
               font-size: 16px;
            }
        }
    }

}
/* img-sec end*/

/*  controller-sec  start  */
.controller-nav{
    position: absolute;
    left:0;
    bottom: 30px;
    z-index: 101;

    width:100%;
    text-align:center;
}
/*  controller-sec  end  */

